.block-menu{
    min-height: 220px;
}
.block-menu .item{
    width: 100%;
}

.img_container{
    max-width: 300px;
}
.img_container1{
    max-width: 250px;
}
.img_container2{
    max-width: 250px;
}
@-moz-document url-prefix() {
    .img-responsive{
        display: table-cell; 
    }    

    .img_container { 
        display: table-cell; 
        max-width: 87px !important;
    }
    .chart-img{
        display: table-cell; 
        max-width: 87px !important;      
    }
}

.movie-poster{
    height: 165px !important;
    /*min-width: 200px !important;*/
    width:195px !important;
}
.heading-panel{
    border-radius: 3px;
    padding: 3px;
}
.border-no{
    border: none !important;
    margin: 0px !important;
}
.flick-panel{
    border-bottom: 14px solid #f2dede;
    border-left:  14px solid #f2dede;
    border-right:  14px solid #f2dede;
    border-radius: 3px; 
}
.flick-panel-heading{
    background-color: #f2dede;
    font-size: 14px;
    height: 45px;
    padding-top: 10px;
}
.man-panel{
    border-bottom: 14px solid #d9edf7;
    border-left:  14px solid #d9edf7;
    border-right:  14px solid #d9edf7;
    border-radius: 3px; 
}
.man-panel-heading{
    background-color: #d9edf7;
    font-size: 14px;
    height: 45px;
    padding-top: 10px;
}