.block-menu{
    min-height: 220px;
}
.block-menu .item{
    width: 100%;
}

.img_container{
    max-width: 300px;
}
@-moz-document url-prefix() {
  .img_container { 
      display: table-cell; 
      max-width: 87px !important;
  }
  .img-responsive{
      display: table-cell; 
  }
}

.movie-poster{
    height: 150px !important;
    width: 250px !important;
}